<%= form_with(model: @profile, url: profile_path, local: true) do |form| %>
  <div class="input-group-md">
    <%= form.label :age %>
    <%= form.number_field :age, class: "input input-bordered w-full max-w-xs", placeholder: "Type age" %>
  </div>

    <div class="input-group-md">
      <%= form.label :gender %>
      <%= form.number_field :gender, class: "input input-bordered w-full max-w-xs", placeholder: "Type gender" %>
    </div>

    <div class="input-group-md">
      <%= form.label :weight %>
      <%= form.number_field :weight, class: "input input-bordered w-full max-w-xs", placeholder: "Type weight" %>
    </div>

    <div class="input-group-md">
      <%= form.label :momentum %>
      <%= form.number_field :momentum, class: "input input-bordered w-full max-w-xs", placeholder: "Type momentum" %>
    </div>
    <%= form.submit %>
<% end %>