<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">
      <%= link_to "#{group.group_name}", group_path(group), class:"hover:bg-yellow-200" %><br>
    </h2>
    <div class="flex flex-wrap items-center justify-center relative container px-4 mx-auto">
      <div class="w-full lg:w-1/2 text-center lg:text-left">
        <p class="font-bold">合計</p>
        <p class="text-lg font-medium mb-4"><%= group.foods.sum { |hash| hash[:price]} %>円</p>
        <p class="text-lg font-medium mb-2"><%= group.foods.sum { |hash| hash[:calorie]} %>kcal</p>
      </div>
      <div class="w-full lg:w-1/2 flex justify-center lg:justify-end">
      <% if group.user.profile.present? %>
        <% if group.user.target_calories >=  group.foods.sum { |hash| hash[:calorie]} - 100 && group.user.target_calories <=  group.foods.sum { |hash| hash[:calorie]} + 100 %>
          <%= image_tag 'nasu.jpg',:size =>'150x150' %>
        <% elsif group.user.target_calories < group.foods.sum { |hash| hash[:calorie]} - 100 %>
          <%= image_tag 'poteto.jpg',:size =>'150x150' %>
        <% else %>
          <%= image_tag 'apple.jpg',:size =>'150x150' %>
        <% end %>
      <% else %>
        <%= image_tag 'carrot.jpg', :size =>'150x150' %>
      <% end %>
      </div>
      <p class="text-lg font-medium mx-auto"><%= group.user.name %></p>
    </div>
  </div>
  <% if current_user.own?(group) %>
    <div class="flex justify-end items-end">
      <%= link_to (t'defaults.delete'), group_path(group), method: :delete, id:'group_delete_button', data: { confirm: '削除してもよろしいですか？' }, class:"py-2 px-4 bg-black hover:bg-purple-700 focus:ring-purple-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg" %>
    </div>
  <% end %>
</div>