<%= render 'foods/modal' %>
<div class="form-control">
  <%= form_with(model: @group, local: true, group_id: @group.id, data: { controller: "newgroups checkbox", action: "input->newgroups#validSubmit" } ) do |form| %>
  <div class="input-group-md">
    <%= form.label :group_name %>
    <%= form.text_field :group_name, class: "input input-bordered w-full max-w-xs", data: { newgroups_target: "group_name", action: "input->newgroups#group_nameValidation" } %>
    <p data-newgroups-target="error_group_name"></p>
  </div>

  <div data-action="input->newgroups#maximum_amountValidation">
    <div class="input-group-md">
      <%= form.label :maximum_amount %>
      <%= form.number_field :maximum_amount, id: "maximum_amount_value", class: "input input-bordered w-full max-w-xs", in: 100...30001, step: 100, data: { newgroups_target: "maximum_amount" } %>円
      <p data-newgroups-target="error_maximum_amount"></p>
      <%= form.range_field :maximum_amount, in: 100...30001, id: 'maximum_amount_input',class: "range range-xs range-primary", step: 100, data: { newgroups_target: "maximum_amount" } %>
    </div>
  </div>

  <div>
    <%= form.radio_button :publish, true %>
    <%= form.label :publish, '公開' %>
    <%= form.radio_button :publish, false %>
    <%= form.label :publish, '非公開', value: false %>
  </div>


  <div class="actions">
    <%= form.submit class:"btn btn-primary", data: { newgroups_target: "submit" } %>
  </div>

  <div>
    <button type="button" data-action="click->checkbox#clearAll" class="bg-red-500 hover:bg-red-700 text-gray-200 font-bold py-2 px-4 rounded my-2">全クリア</button>
    <button type="button" data-action="click->checkbox#checkAll" class="bg-blue-500 hover:bg-blue-700 text-gray-200 font-bold py-2 px-4 rounded my-2">全チェック</button>
  </div>

  <div>
    <p>タグで絞り込み</p>
    <%= link_to "全て", new_group_path(nil), class: "inline-block items-center justify-center py-1 px-2 rounded-md mr-2 bg-white text-red-600 text-xs uppercase shadow-sm transition duration-300 hover:translate-y-0.5 hover:shadow-sm border border-red-500" %>
    <% if @tags.present? %>
      <% @tags.each do |tag| %>
        <%= link_to "#{tag.name}", new_group_path(tag_name: tag.name), class: "inline-block items-center justify-center py-1 px-2 rounded-md mr-2 bg-white text-red-600 text-xs uppercase shadow-sm transition duration-300 hover:translate-y-0.5 hover:shadow-sm border border-red-500" %>
      <% end %>
    <% end %>
  </div>

  <div class="input-group-md">
    <div class="not-prose grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
      <%= form.collection_check_boxes(:food_ids, @foods, :id, :food_name) do |food| %>
      <div class="card w-96 bg-base-100 shadow-xl">
        <div class="card-body">
          <%= food.label( class: "check_box", data: { controller: "checkbox" }) { food.check_box(checked: true, class:"form-tick checkbox checkbox-secondary") } %>
          <h2 class="card-title">
            <%= food.object.food_name %>
          </h2>
            <% if food.object.image.present? %>
              <%= image_tag food.object.image_url(:medium).to_s, data: {"modal-source-param": food.object.image_url(:medium),
                                                                        "modal-name-param": food.object.food_name,
                                                                        "modal-calorie-param": food.object.calorie,
                                                                        "modal-price-param": food.object.price,
                                                                        "modal-tags-param": food.object.tag_list,
                                                                        action: "click->modal#handleOpen" }%>
            <% else %>
              <%= image_tag 'no_image.jpg', :size =>'300x300', data: {"modal-source-param": food.object.image_url(:medium),
                                                                        "modal-name-param": food.object.food_name,
                                                                        "modal-calorie-param": food.object.calorie,
                                                                        "modal-price-param": food.object.price,
                                                                        "modal-tags-param": food.object.tag_list,
                                                                        action: "click->modal#handleOpen" }%>
            <% end %>
          <div>
            <%= food.object.calorie%>kcal<br>
            <%= food.object.price %>円
          </div>
          <div class="p-8">
          <% if food.object.tag_list.present? %>
            <% (food.object.tag_list).each do |tag| %>
              <%= link_to tag, new_group_path(food, tag_name: tag), class: "inline-block items-center justify-center py-1 px-2 rounded-md mr-2 bg-white text-red-600 text-xs uppercase shadow-sm transition duration-300 hover:translate-y-0.5 hover:shadow-sm border border-red-500" %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <% end %>
</div>

<%= link_to '戻る', groups_path, class:"btn btn-primary" %>

<%= javascript_pack_tag 'groups/new' %>
