<div class="container flex flex-wrap h-64 overflow-y-scroll">
    <div class="comments w-1/3">
      <h1 class="font-bold text-2xl"><%= @group.group_name %></h1>
      <p>合計: <%= @group.foods.sum { |hash| hash[:calorie]} %>kcal</p>
      <% if @group.comments.present? %>
        <i class="fa fa-commenting"></i><%= @group.comments.count %>
      <% else %>
        <i class="fa fa-comment"></i><%= @group.comments.count %>
      <% end %>
    </div>
  </div>
<div class="grid grid-cols-3 flex flex-row-reverse gap-4">
  <%= render partial: "foods/food", collection: @foods %>
</div>
<div class="comment-form mt-8">
  <h3 class="text-lg font-bold mb-4">コメント投稿</h3>
  <div class="form-group mb-4">
    <%= render partial: 'comments/comment_form', locals: { group: @group, comment: @comment } %>
  </div>
<div>
<div class="comments mt-8">
  <h3 class="text-lg font-bold mb-4">コメント一覧</h3>
  <ul class="comment-list">
    <%= render @comments %>
  </ul>
</div>

<%= paginate @foods %>
<%= link_to '戻る', groups_path, class: "btn btn-primary" %>


