<div class="grid grid-cols-3 flex flex-row-reverse gap-4">
  <div class="container flex flex-wrap h-64 overflow-y-scroll">
    <div class="comments w-1/3">
      <h1><%= @group.group_name %></h1>
      <p>合計: <%= @group.foods.sum { |hash| hash[:calorie]} %>kcal</p>
      <p>コメント数：<%= @group.comments.count %></p>
      <i class="fa fa-comment"></i>
      <i class="fa fa-commenting"></i>
    </div>
    <%= button_tag "コメントする", data: { controller: "comments-modal" }, class: "btn btn-primary", data: { action: "click->comments-modal#open" } %>
  </div>

  <div class="modal" data-controller="comments-modal">
    <div class="modal-background" data-action="click->comments-modal#close"></div>
    <div class="modal-content">
      <div class="box">
        <%= render partial: "comments/form", locals: { group: @group } %>
      </div>
    </div>
  </div>
</div>
  <% @foods.each do |food| %>
    <div class="bg-white rounded-md overflow-hidden shadow-md">
      <% if food.image.present? %>
        <%= image_tag food.image_url(:medium).to_s, height: "300" %> 
      <% else %>
        <%= image_tag 'no_image.jpg', :size =>'300x300' %>
      <% end %>
      <div class="p-4">
        <h2 class="text-xl font-bold mb-2"><%= food.food_name %></h2>
        <p class="text-gray-700"><%= food.calorie %>kcal</p>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @foods %>
<%= link_to '戻る', groups_path, class: "btn btn-primary" %>


