<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group-md">
    <%= form.label :name %><br />
    <%= form.text_field :name, class: "input input-bordered w-full max-w-xs", placeholder: "Type name" %>
  </div>

  <div class="input-group-md">
    <%= form.label :email %><br />
    <%= form.text_field :email, class: "input input-bordered w-full max-w-xs", placeholder: "Type email" %>
  </div>

  <div class="input-group-md">
    <%= form.label :password %><br />
    <%= form.text_field :password, class: "input input-bordered w-full max-w-xs", placeholder: "Type Password" %>
  </div>

  <div class="input-group-md">
    <%= form.label :password_confirmation %><br />
    <%= form.text_field :password_confirmation, class: "input input-bordered w-full max-w-xs", placeholder: "Type Password Again" %>
  </div>


  <button class="input-group-md">
    <%= form.submit class:"btn btn-primary" %>
  </button>
<% end %>
