<%= form_with(model: user, data: { controller: "signup", action: "input->signup#validSubmit" }) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group-md">
    <%= form.label :name %><br />
    <%= form.text_field :name, class: "input input-bordered w-full max-w-xs", placeholder: "Type name", data: { signup_target: "name", action: "input->signup#nameValidation" } %>
    <p data-signup-target="error_name"></p>
  </div>

  <div class="input-group-md">
    <%= form.label :email %><br />
    <%= form.text_field :email, class: "input input-bordered w-full max-w-xs", placeholder: "Type email", data: { signup_target: "email", action: "input->signup#emailValidation" } %>
    <p data-signup-target="error_email"></p>
  </div>

  <div data-action="input->signup#passwordValidation">
    <div class="input-group-md">
      <%= form.label :password %><br />
      <%= form.password_field :password, class: "input input-bordered w-full max-w-xs", placeholder: "Type Password", data: { signup_target: "password" } %>
      <p data-signup-target="error_password"></p>
    </div>

    <div class="input-group-md">
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, class: "input input-bordered w-full max-w-xs", placeholder: "Type Password Again", data: { signup_target: "password_confirmation" } %>
      <p data-signup-target="error_password_confirmation"></p>
    </div>
  </div>

  <button class="input-group-md">
    <%= form.submit class:"btn btn-primary", disabled: true, data: { signup_target: "submit" } %>
  </button>
<% end %>
