<div class="flex justify-center bg-original">
  <%= search_form_for @q, url: url, html: { data: { controller: "search", action: "input->search#submit" }} do |f| %>
    <%= f.number_field :calorie_gteq, class:"rounded-l py-2 px-4 bg-gray-200", placeholder:"カロリーを入力" %>
    <%= f.number_field :price_gteq, class:"rounded-l py-2 px-4 bg-gray-200", placeholder:"値段を入力" %>
    <select class="select select-bordered bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg" id="sort-select">
      <option value="">並び替え</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :updated_at), 'updated_at+desc') %>">新着順</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :food_name), 'food_name+desc') %>">食品名:降順</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :food_name), 'food_name+asc') %>">食品名:昇順</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :price), 'price+desc') %>">価格の高い順</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :price), 'price+asc') %>">価格の安い順</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :calorie), 'calorie+desc') %>">カロリーの高い順</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :calorie), 'calorie+asc') %>">カロリーの低い順</option>
    </select>
    <%= link_to url, class: "shadow-lg bg-indigo-500 shadow-indigo-500/50 text-white rounded px-2 py-1 hover:bg-violet-500" do %>
      <span class="text-white">
        <i class="fa fa-refresh"></i>
        リセット
      </span>
    <% end %>
  <% end %>
</div>
<%= javascript_pack_tag 'shared/search' %>