<div class="bg-center bg-cover bg-no-repeat py-10" style="background-image: url(<%= asset_path('background_image.jpg') %>)">
<section class="relative pb-20 overflow-hidden my-10">
  <div class="relative container px-4 mx-auto">
    <div class="max-w-xl xl:max-w-4xl">
      <h1 class="font-heading text-5xl xs:text-6xl md:text-8xl xl:text-10xl font-bold text-gray-900 mb-8 sm:mb-14">
        <span class="font-serif italic">最速最短で体重を増やしたいあなたに</span>
      </h1>
      <% if !logged_in? %>
      <div class="md:flex mb-14 max-w-xs sm:max-w-sm md:max-w-none">
        <div class="mb-6 md:mb-0 md:mr-8 pt-3">
          <svg width="84" height="10" viewbox="0 0 84 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 4.25C0.585786 4.25 0.25 4.58579 0.25 5C0.25 5.41421 0.585786 5.75 1 5.75L1 4.25ZM84 5.00001L76.5 0.669879L76.5 9.33013L84 5.00001ZM1 5.75L77.25 5.75001L77.25 4.25001L1 4.25L1 5.75Z" fill="#1E254C"></path>
          </svg>
        </div>
        <div class="max-w-md">
          <p class="md:text-xl text-gray-900 font-semibold">ログインなしで始めたい方はこちら</p>
        </div>
      </div>
      <div class="relative group inline-block w-full sm:w-auto py-4 px-6 mb-24 text-white font-semibold rounded-md bg-primary overflow-hidden">
        <div class="absolute top-0 right-full w-full h-full bg-green-900 transform group-hover:translate-x-full group-hover:scale-102 transition duration-500"></div>
        <div class="relative flex items-center justify-center">
            <%= link_to 'ゲストユーザーでログインしてみる', guest_path, method: :post, class: "mr-4"%>
        </div>
      </div>
    </div>
    <% end %>
      <div class="relative lg:-mt-25 w-full max-w-md">
        <div class="relative flex flex-col">
          <p class="mb-8 text-lg md:text-xl text-gray-500 font-medium">−一方、食べることに関しては、快楽が用意されていて、エネルギーを獲得するために食べられるものは食べなさいと脳を指令を受けています。したがって、飽食の時代は健康にならないのが宿命なのです–(伏木 亨 「おいしさの科学と健康」より抜粋)</p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<div class="mt-10 mx-2 md:mx-20 border-2 border-yellow-400 bg-white">
  <p class="text-center text-2xl md:text-4xl font-bold text-yellow-500 my-1">↓今日食べるものを試しにガチャる↓</p>
</div>
<div class="flex flex-wrap container px-4 mx-auto">
  <div class="w-full lg:w-1/2 p-6">
    <div class="mx-auto w-35em border-2 border-double border-red-700 p-4 bg-white">
      <div class="border-b-2 border-yellow-700 text-center pb-1 mb-1">
        <h1 class="text-3xl text-gray-500">カロリーガチャ</h1>
      </div>
      <div class="inputarea flex justify-center items-center space-x-2">
        <label for="calorie" class="text-gray-500 text-1xl">カロリー：</label>
        <input type="number" id="input-calorie" name="input-calorie" min="500" max="2000" value="2000" class="px-2 py-1 border border-green-700 rounded"><p>kcal</p>
        <button id="runCalorieGachaBtn" class="inline-block w-40 px-4 py-2 text-white bg-yellow-700 border-b-4 border-yellow-600 rounded-full no-underline active:translate-y-1 active:shadow-md active:border-b-0">ガチャを回す</button>
      </div>
      <div id="calorie-result" class="text-center"></div>
    </div>
  </div>
  <div class="w-full lg:w-1/2 p-6">
    <div class="lg:max-w-lg">
      <div class="mx-auto w-35em border-2 border-double border-red-700 p-4 bg-white">
        <div class="border-b-2 border-yellow-700 text-center pb-1 mb-1">
          <h1 class="text-3xl text-gray-500">通常ガチャ</h1>
        </div>
        <div class="inputarea flex justify-center items-center space-x-2">
          <label for="budget" class="text-gray-500 text-1xl">予算：</label>
          <input type="number" id="budget" name="budget" min="200" max="1000" value="1000" class="px-2 py-1 border border-green-700 rounded"><p>円</p>
          <button id="runGachaBtn" class="inline-block w-40 px-4 py-2 text-white bg-yellow-700 border-b-4 border-yellow-600 rounded-full no-underline active:translate-y-1 active:shadow-md active:border-b-0">ガチャを回す</button>
        </div>
        <div id="result" class="text-center"></div>
      </div>
    </div>
  </div>
</div>
<div class="flex flex-wrap container px-4 mx-auto">
  <div class="w-full lg:w-1/2 p-6">
    <div class="top-10 mx-auto transform hover:-translate-y-16 transition ease-in-out duration-500">
      <%= image_tag 'site_logo.jpg'%>
    </div>
  </div>
  <div class="w-full lg:w-1/2 p-6">
    <div class="lg:max-w-lg">
      <div class="my-6 font-heading font-bold ">
        <h1 class="font-heading text-2xl xs:text-3xl md:text-4xl xl:text-5xl font-bold text-gray-500">デブかつAppは</h1>
        <h1 class="font-heading text-2xl xs:text-3xl md:text-4xl xl:text-5xl font-bold text-gray-500 mb-8 sm:mb-14">忙しい社会人やお金のない学生に向けた太るためのサービスです。</h1>
      </div>
      <div class="mb-20 text-base">
        <p class="text-gray-600 text-2xl">こんな人におすすめ！</p>
      </div>
      <div class="mb-4 flex items-center font-heading font-semibold text-lg">
        <div class="mr-2">
          <i class="fas fa-check fa-lg"></i>
        </div>
        <p>お金がない人<p>
      </div>
      <div class="mb-4 flex items-center font-heading font-semibold text-lg">
        <div class="mr-2">
          <i class="fas fa-check fa-lg"></i>
        </div>
        <p>忙しい人<p>
      </div>
      <div class="mb-4 flex items-center font-heading font-semibold text-lg">
        <div class="mr-2">
          <i class="fas fa-check fa-lg"></i>
        </div>
        <p>質より量！な人<p>
      </div>
    </div>
  </div>
</div>
<div class="mt-10 mx-2 md:mx-20 border-2 border-red-400 bg-white">
  <p class="text-center text-2xl md:text-4xl font-bold text-red-400 my-1">使い方</p>
</div>
<div class="grid grid-cols-1 sm:grid-cols-3 gap-4 mx-6 my-10">
  <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center">
      <%= image_tag 'signup', :size =>'280x180', class: "pt-6"%>
      <h1 class="mt-2 font-bold text-2xl">STEP1. ユーザー登録orゲストログイン</h1>
      <p class="mt-9 font-medium justify-start text-xl">新規登録をすることで食べ合わせの登録や食品の登録が行えるようになります。</p>
    </div>
  </div>
  <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center">
      <%= image_tag 'groups_new', class: "pt-6 mb-10"%>
      <h1 class="mt-2 font-bold text-2xl">STEP2. 食べたい食べ物を登録する</h1>
      <p class="mt-9 font-medium justify-start text-xl">食べたい食べ物をチェックして投稿し、他のユーザーと共有してみましょう。今日のご飯はこれで決まり！</p>
    </div>
  </div>
  <div class="p-3 my-2 bg-yellow-50 border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="flex flex-col items-center">
       <%= image_tag 'calendar', class: "pt-6 mb-6"%>
      <h1 class="mt-2 font-bold text-2xl">STEP3. グラフとカレンダーで管理する</h1>
      <p class="mt-9 font-medium justify-start text-xl">食べた食べ物をカレンダーとグラフで管理しましょう。プロフィールを登録すると、あなたの1日に必要なカロリーが出てきます。</p>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'homes/index' %>