<div class="card w-96 bg-base-100 shadow-xl" id="<%= dom_id food %>">
  <% if food.image.present? %>
    <%= image_tag food.image_url(:small).to_s, data: {action: "click->modal#handleOpen"} %>
  <% else %>
    <%= image_tag 'no_image.jpeg', data: {action: "click->modal#handleOpen"} %>
  <% end %>
    <h2 class="card-title">
      <%= link_to food.food_name, food, class: "link link-primary" %>
    </h2>
    <p><%= food.calorie %></p><br>
    <p><%= food.price %></p>
    <% if current_user.own?(food) %>
      <%= link_to 'Edit', '#', class:"btn btn-primary" %>
      <%= link_to 'Destroy', food_path(food), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-secondary" %>
    <% end %>
    <div class="card-actions justify-end">
      <% food.tag_list.each do |tag| %>
        <%= link_to tag, foods_path(food, tag_name: tag), class: "tag" %>
      <% end %>
    </div>
  </div>
</div>