<%= form_with(model: food, data: { controller: "newfoods", action: "input->newfoods#validSubmit" }) do |form| %>
  <div class="input-group-md">
    <%= form.label :food_name %>
    <%= form.text_field :food_name, class: "input input-bordered w-full max-w-xs", data: { newfoods_target: "food_name", action: "input->newfoods#food_nameValidation" }  %>
    <p data-newfoods-target="error_food_name"></p>
  </div>

  <div class="input-group-md">
    <%= form.label :calorie %>
    <%= form.number_field :calorie, class: "input input-bordered w-full max-w-xs", data: { newfoods_target: "calorie", action: "input->newfoods#calorieValidation" }, in: 0...30000 %>kcal
    <p data-newfoods-target="error_calorie"></p>
  </div>

  <div class="input-group-md">
    <%= form.label :price %>
    <%= form.number_field :price, class: "input input-bordered w-full max-w-xs", data: { newfoods_target: "price", action: "input->newfoods#priceValidation" }, in: 0...300000 %>円
    <p data-newfoods-target="error_price"></p>
  </div>

  <div class="input-group-md">
    <%= form.label :protein %>
    <%= form.number_field :protein, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="input-group-md">
    <%= form.label :lipid %>
    <%= form.number_field :lipid, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="input-group-md">
    <%= form.label :sugar %>
    <%= form.number_field :sugar, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="input-group-md">
    <%= form.label :dietary_fiber %>
    <%= form.number_field :dietary_fiber, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="input-group-md">
    <%= form.label :table_salt %>
    <%= form.number_field :table_salt, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="input-group-md">
    <%= form.label :tags %>
    <%= content_tag(:div, id:"app", data:{tag_list: Food.tags_on(:tags).pluck(:name), my_tag_list: food.tag_list}) do %>
      <multiselect v-model="myTagList" tag-placeholder="Add this as new tag" placeholder="Search or add a tag"  :options="tagList" :multiple="true" :taggable="true" @tag="addTag" id="vue-tag-input" @remove="alertRemove"></multiselect>
      <pre class="language-json" hidden="hidden">
        <input type="text" name="food[tag_list]" id="food_tag_list" v-model="myTagList">
      </pre>
    <% end %>
  </div>

  <div class ="file">
    <%= form.label :image_data %>
    <%= form.hidden_field :image, value: @food.cached_image_data, class:"file hover:bg-gray-100" %>
    <%= form.file_field :image, class: "file-input file-input-bordered file-input-primary w-full max-w-xs" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary", disabled: true, data: { newfoods_target: "submit" } %>
  </div>
<% end %>