<%= form_with(model: food, data: { controller: "newfoods", action: "input->newfoods#validSubmit" }) do |form| %>
  <div class="input-group-md">
    <%= form.label :food_name %>
    <%= form.text_field :food_name, class: "input input-bordered w-full max-w-xs", data: { newfoods_target: "food_name", action: "input->newfoods#food_nameValidation" }  %>
    <p data-newfoods-target="error_food_name"></p>
  </div>

  <div class="input-group-md">
    <%= form.label :calorie %>
    <%= form.number_field :calorie, class: "input input-bordered w-full max-w-xs", data: { newfoods_target: "calorie", action: "input->newfoods#calorieValidation" }, in: 0...30000 %>kcal
    <p data-newfoods-target="error_calorie"></p>
  </div>

  <div class="input-group-md">
    <%= form.label :price %>
    <%= form.number_field :price, class: "input input-bordered w-full max-w-xs", data: { newfoods_target: "price", action: "input->newfoods#priceValidation" } %>円
    <p data-newfoods-target="error_price"></p>
  </div>

  <div class ="file">
    <%= form.label :image_data %>
    <%= form.hidden_field :image, value: @food.cached_image_data, class:"file hover:bg-gray-100" %>
    <%= form.file_field :image, class: "file-input file-input-bordered file-input-primary w-full max-w-xs" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary", disabled: true, data: { newfoods_target: "submit" } %>
  </div>
<% end %>