<%= link_to 'NewFood', new_food_path, class:"btn btn-primary"%>
<%= link_to 'Groups', groups_path, class:"btn btn-secondary" %>
<%= render 'shared/modal' %>
<div id="foods" class="grid grid-cols-2 gap-4">
  <%= render @foods %>
</div>
<%= paginate @foods %>