<!DOCTYPE html>
<html data-theme="lemonade">
  <head>
    <title>Debukatsu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14" defer></script>
    <script src="https://unpkg.com/vue-multiselect@2.1.4" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.4/dist/vue-multiselect.min.css">
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="bg-original" data-controller="modal">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <div>
    <%= render 'mypage/shared/sidebar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>